## Project3 

#### Group member:  Zhijing Zhang, Gege Li

In this project, we complete the part of writing the **player name, total points, state and pre-tournament rating** into a pandas DataFrame and then into the .CSV file. 

In order to complete this assignment:
- 1. import numpy, pandas, re and csv to achieve our goals
- 2. use open function to open the text file and named it data 
- 3. delete the first four rows which are the head of data and save as a new txt
- 4. separate each players' data into two rows and save as two lists 
- 5. use regex to find the name and total points in the first row, and find the state and pre rating in the second row
- 6. add name, total points, state and pre rating into a list and put all this four lists into a dataframe
- 7. change the dataframe into a .CSV file.

First part is to delete the first four rows which are the head of data and save as a new txt.

In [6]:
#import numpy and pandas
import numpy as np
import pandas as pd
# from pandas.core.frame import DataFrame
import re
import csv
#import urllib2
#from urllib2 import urlopen

#data = urlopen("https://raw.githubusercontent.com/zhijing-zhang/DAV-5400/master/tournamentinfo.txt").readlines()
f = open('tournamentinfo.txt', 'r') 
data = f.readlines()

# remove list items from index 0 to 3 (inclusive)
del data[0:4]
#try to print it out and it complete our goals, but this step is not necessary so we'#'it.
#print(data[:5])

# write the changed data (list) to a file
fout = open("new.txt", "w")
fout.writelines(data)
fout.close()

Second part is to:
- get the new data without head and saved as a new.txt file
- separate each players' data into two lists. We think in this way is easy to complete the next step for extracting information we want
- create a new list named player that contains the first row with the information 'name' and 'total point'
- create another new list named rating which contains the second row with the information 'state' and 'pre-rating'

In [7]:
# new text file without head
f = open("new.txt","r") 
data = f.readlines()

# use a for loop to get the player list
player = list()
for i in range(0,len(data),3):
    player.append(data[i])
#print(player)
    
# use a for loop to get the rating list
rating = list()
for i in range(1,len(data),3):
    rating.append(data[i])
#print(rating)
#try to print it out and it complete our goals, but this step is not necessary so we'#'it.

Now we have two new lists. Search name and total points in **player list**. Search state and pre rating in **rating list**.

Third part is to get the list of information:

- create a new list named names
- use regex to search all the name in player list
- use re.search to find the names and use re.findall to put all name into a list
- get the answer about name list

In [8]:
names = list()
for name in player:
#find all the name in the player list using regex    
    if re.search('[a-z/-A-Z\s\-]+[a-z/-A-Z]+', name):
        name = re.findall('[a-zA-Z\s\-]+[a-zA-Z]+',name)
        for i in name:
#use a for loop to append the name we find into the list
            names.append(i)
#print(names)

- create a new list named total points 
- use regex to search the total points in player list
- use re.search to find the total points and use re.findall to put all players' total points into a list 
- get the answer about total_points list

In [9]:
total_points = list()
for total_point in player:
#find all the players' total points in the player list using regex  
    if re.search(r"[\d+\.\d]*", total_point):
        total_point = re.findall(r"[\d]+[.][\d]+",total_point)
        #total_points.append(total_point)
        for i in total_point:
            total_points.append(i)
#print(total_points)

We can print the name and total_points list and it correctly work. But this is not necessary for the final result so we'#'it.

- create a new list named state
- use regex to search the state in rating list
- use re.search to find the players' state and use re.findall to put all players' state into a list
- get the answer about state list

In [10]:
states = list()
for state in rating:
#find all the players' state in the rating list using regex 
    if re.search(r"[A-Z]+?\s", state):
        state = re.findall(r"[A-Z]{2}\s",state)
        for i in state:
            states.append(i)
#print(states)

- create a new list named pre rating. 
- use regex to search the pre rating in rating list. 
- use re.search to find the players' pre rating and use re.findall to put all players' pre rating into a list.

In this part, we find that some players' pre rating has a 'P' letter following and some players' pre rating has a space after the ':'. So we use different regex to find the pre rating.

In [11]:
pre_ratings = list()
for pre_rating in rating:
#use regex to find all the pre rating that without 'p' followed
    if re.search('[:]\s*\d{3,4}[P\s]?', pre_rating):
        pre_rating = re.findall('[:]\s*\d{3,4}[P\s]?',pre_rating)
        for i in pre_rating:
#split the space in each pre rating and add the pre rating in the list
            i.split('[]')[::-1]
            test = "".join([x for x in i if x is not ':'][:5:])        
            pre_ratings.append(test)
#append the final result of pre rating into the list
#print(pre_ratings)

Now we can get the correct answer of pre rating without 'p' follow and no space.

We can print the state and pre rating list and it correctly work. But this is not necessary for the final result so we'#'it.

Now we have four lists of name, total points, state and pre rating. 

Using the dictionary to show the dataframe and each item is separate without '[]'.

In [12]:
from pandas.core.frame import DataFrame
Data = {"Name": names, "State" : states, "Total":total_points, "Pre_rating":pre_ratings}
Data = DataFrame(Data)
print(Data)

                     Name State Total Pre_rating
0                GARY HUA   ON    6.0       1794
1         DAKSHESH DARURI   MI    6.0       1553
2            ADITYA BAJAJ   MI    6.0       1384
3     PATRICK H SCHILLING   MI    5.5       1716
4              HANSHI ZUO   MI    5.5       1655
..                    ...   ...   ...        ...
59             JULIA SHEN   MI    1.5        967
60          JEZZEL FARKAS   ON    1.5        955
61          ASHWIN BALAJI   MI    1.0       1530
62   THOMAS JOSEPH HOSMER   MI    1.0       1175
63                 BEN LI   MI    1.0       1163

[64 rows x 4 columns]

Now we can get the answer in a dataframe. 

Then change this dataframe into .csv by using .to_csv function

In [13]:
chess_csv = Data.to_csv(index=False)
print(chess_csv)

Name,State,Total,Pre_rating
 GARY HUA,ON ,6.0, 1794
 DAKSHESH DARURI,MI ,6.0, 1553
 ADITYA BAJAJ,MI ,6.0, 1384
 PATRICK H SCHILLING,MI ,5.5, 1716
 HANSHI ZUO,MI ,5.5, 1655
 HANSEN SONG,OH ,5.0, 1686
 GARY DEE SWATHELL,MI ,5.0, 1649
 EZEKIEL HOUGHTON,MI ,5.0, 1641
 STEFANO LEE,ON ,5.0, 1411
 ANVIT RAO,MI ,5.0, 1365
 CAMERON WILLIAM MC LEMAN,MI ,4.5, 1712
 KENNETH J TACK,MI ,4.5, 1663
 TORRANCE HENRY JR,MI ,4.5, 1666
 BRADLEY SHAW,MI ,4.5, 1610
 ZACHARY JAMES HOUGHTON,MI ,4.5, 1220
 MIKE NIKITIN,MI ,4.0, 1604
 RONALD GRZEGORCZYK,MI ,4.0, 1629
 DAVID SUNDEEN,MI ,4.0, 1600
 DIPANKAR ROY,MI ,4.0, 1564
 JASON ZHENG,MI ,4.0, 1595
 DINH DANG BUI,ON ,4.0, 1563
 EUGENE L MCCLURE,MI ,4.0, 1555
 ALAN BUI,ON ,4.0, 1363
 MICHAEL R ALDRICH,MI ,4.0, 1229
 LOREN SCHWIEBERT,MI ,3.5, 1745
 MAX ZHU,ON ,3.5, 1579
 GAURAV GIDWANI,MI ,3.5, 1552
 SOFIA ADINA STANESCU-BELLU,MI ,3.5, 1507
 CHIEDOZIE OKORIE,MI ,3.5, 1602
 GEORGE AVERY JONES,ON ,3.5, 1522
 RISHI SHETTY,MI ,3.5, 1494
 JOSHUA PHILIP MATHEWS,ON ,3.5, 1441
 JADE GE,MI ,3.5, 1449
 MICHAEL JEFFERY THOMAS,MI ,3.5, 1399
 JOSHUA DAVID LEE,MI ,3.5, 1438
 SIDDHARTH JHA,MI ,3.5, 1355
 AMIYATOSH PWNANANDAM,MI ,3.5,  980
 BRIAN LIU,MI ,3.0, 1423
 JOEL R HENDON,MI ,3.0, 1436
 FOREST ZHANG,MI ,3.0, 1348
 KYLE WILLIAM MURPHY,MI ,3.0, 1403
 JARED GE,MI ,3.0, 1332
 ROBERT GLEN VASEY,MI ,3.0, 1283
 JUSTIN D SCHILLING,MI ,3.0, 1199
 DEREK YAN,MI ,3.0, 1242
 JACOB ALEXANDER LAVALLEY,MI ,3.0,  377
 ERIC WRIGHT,MI ,2.5, 1362
 DANIEL KHAIN,MI ,2.5, 1382
 MICHAEL J MARTIN,MI ,2.5, 1291
 SHIVAM JHA,MI ,2.5, 1056
 TEJAS AYYAGARI,MI ,2.5, 1011
 ETHAN GUO,MI ,2.5,  935
 JOSE C YBARRA,MI ,2.0, 1393
 LARRY HODGE,MI ,2.0, 1270
 ALEX KONG,MI ,2.0, 1186
 MARISA RICCI,MI ,2.0, 1153
 MICHAEL LU,MI ,2.0, 1092
 VIRAJ MOHILE,MI ,2.0,  917
 SEAN M MC CORMICK,MI ,2.0,  853
 JULIA SHEN,MI ,1.5,  967
 JEZZEL FARKAS,ON ,1.5,  955
 ASHWIN BALAJI,MI ,1.0, 1530
 THOMAS JOSEPH HOSMER,MI ,1.0, 1175
 BEN LI,MI ,1.0, 1163

We can also save this .csv into a new csv file by using .to_csv function and named it chess.csv

In [14]:
Data.to_csv('chess.csv',index=False)